<div class="container">
  <div class="row justify-content-center">
    <div class="form" >
      <h2>Sign up</h2>
      <%= form_for @user do |f| %>
        <div class="d-flex">
          <div class="" style="width: 30%">
            <div><%= f.label :first_name %></div>
            <%= f.text_field :first_name %>
            <div><%= f.label :last_name %></div>
            <%= f.text_field :last_name %>
            <div><%= f.label :birthday %></div>
              <%= f.date_select :birthday, order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year, end_year: Date.today.year - 100 %>
            </div>
            <div class="">
              <div><%= f.label :country_of_residence %></div>
              <%= f.text_field :country_of_residence, placeholder: 'ex: FR' %>
              <div><%= f.label :nationality %></div>
              <%= f.text_field :nationality, placeholder: 'ex: FR' %>
            </div>
          <div class="">
            <div><%= f.label :email %></div>
            <%= f.text_field :email %>
            <div><%= f.label :password %></div>
            <%= f.password_field :password, placeholder: "••••••" %>
            <div><%= f.label :password_confirmation %></div>
            <%= f.password_field :password_confirmation, placeholder: "••••••" %>
          </div>
        </div>
        <hr>
        <%= f.button "Sign up", class: "btn btn-sign"  %>
      <% end %>
    </div>
  </div>
  <% if flash[:error] %>
  <div class="alert flash">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" style="color: grey"><%= value %></div>
    <% end %>
  </div>
  <% end %>
</div>
