<div class="container">
  <div class="infos">
    <div class="">
      <h4>Contributions:</h4>
      <% @contributions.each do |contribution| %>
        <% project = Project.find(contribution.project_id) %>
        <% counterpart = Counterpart.find(contribution.counterpart_id) %>
        <div class="" style="background-color: lightgrey; padding: 15px; margin:10px; border: 2px solid black">
          <div class=""><%= contribution.amount_in_cents %></div>
          <div class="">
            <% if counterpart %>
              <ul>
                <li><%= counterpart.name %></li>
                <li><%= counterpart.amount_in_cents %></li>
              </ul>
            <% else %>
              <h4>No counterpart for this project</h4>
            <% end %>
          </div>
          <div class="">
            <h5>Project's name: <%= link_to project.name, project_path(project) %></h5>
          </div>
        </div>
      <% end %>
    </div>
    <div class="" style="margin-top: 20px;">
      <%= link_to "my account",edit_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
