<div class="container">
  <div class="infos">
    <div class="">
      <h4>Contributions:</h4>
      <% @contributions.find_each do |contribution| %>
        <% project = contribution.project %>
        <% counterpart = contribution.counterpart %>
        <div class="" style="background-color: lightgrey; padding: 15px; margin:10px; border: 2px solid grey">
          <div class=""><%= contribution.amount_in_cents.fdiv(100).round %>€</div>
          <div class="" style="background-color: white; width: 30%">
            <% if counterpart %>
              <ul>
                Counterpart:
                <li><%= counterpart.name %></li>
                <li><%= counterpart.amount_in_cents.fdiv(100).round %>€</li>
              </ul>
            <% else %>
              <h4>No counterpart for this project</h4>
            <% end %>
          </div>
          <div class="">
            <h5>Project: <%= link_to project.name, project_path(project) %></h5>
          </div>
        </div>
      <% end %>
    </div>
    <div class="" style="margin-top: 20px;">
      <%= link_to "my account",edit_user_registration_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
