<div class="project-show d-flex">
  <div class="">
    <p style="font-size: 24px;">Hello <strong><em><%= current_user.first_name %></em></strong>,</p>
    <p style="font-size: 20px;">You contributed  <strong><%= current_user.contribution_sum %></strong>€ for <strong><%= current_user.projects_count %></strong>  project and you received <strong><%= current_user.counterparts_counting %></strong> counterparties</p>
  </div>
  <div class="d-flex" style="margin-left:150px;">
    <div id="" class="btn-dashboard"><a class="btn btn-light btn-toggle" onclick="projectShow()">Projects</a></div>
    <div id="" class="btn-dashboard"><a class="btn btn-light btn-toggle" onclick="contributionsShow()">Contributions</a></div>
    <div class="btn-dashboard">
    <%= link_to "my account",edit_user_registration_path, class: "btn btn-light btn-account" %>
  </div>
  </div>
</div>
<% if @contributions.count < 4 %>
  <div class="infos">
<% end %>
<div id="container-dashboard" class="container d-none">
  <div id="projects">
    <h4>My projects</h4>
    <% current_user.user_projects.each do |project| %>
      <div class="">
        <ul>
          <%= project[0].name %>
          <div class="">contributions:</div>

          <% project[1].each do |contribution| %>
            <% if contribution.aasm_state == 'paid' %>
              <li>
                <%= contribution.amount_in_cents.fdiv(100).round %>€
              </li>
            <% end %>
          <% end %>
        </ul>
     </div>
    <% end %>
  </div>
    <div id="contributions" style="margin: 100px">
      <h4>My contributions</h4>
      <% @contributions.reverse.find_all do |contribution| %>
        <% project = contribution.project %>
        <% counterpart = contribution.counterpart %>
        <div class="d-flex justify-content-between" style="background-color: lightgrey; padding: 15px; margin:10px; border: 2px solid grey">
          <div class="">
            <div class=""><%= contribution.amount_in_cents.fdiv(100).round %>€</div>
            <div class="" style="background-color: white; width: 100%">
              <% if counterpart %>
                <ul>
                  Counterpart:
                  <li>Name: <%= counterpart.name %></li>
                  <li>reward: <%= counterpart.amount_in_cents.fdiv(100).round %>€</li>
                </ul>
              <% else %>
                <h4>No counterpart for this project</h4>
              <% end %>
            </div>
            <div class="">
              <h5>Project: <%= link_to project.name, project_path(project) %></h5>
            </div>
          </div>
          <div class="">
            <% if contribution.aasm_state == 'paid' %>
              <span class="<%= contribution.state_badge %>"><%= contribution.aasm_state %></span>
            <% elsif contribution.aasm_state == 'payment_pending' %>
              <span class="<%= contribution.state_badge %>" =""><%= contribution.aasm_state %></span>
            <% elsif contribution.aasm_state == 'canceled' %>
              <span class="<%= contribution.state_badge %>"><%= contribution.aasm_state %></span>
            <% else %>
              <span class="<%= contribution.state_badge %>"><%= contribution.aasm_state %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  let container = document.getElementById('container-dashboard');
  let projects = document.getElementById("projects");
  let contributions = document.getElementById("contributions");

  function contributionsShow() {
    projects.classList.add("d-none");
    contributions.classList.remove("d-none");
    container.classList.remove("d-none");
  }
  function projectShow() {
    contributions.classList.add("d-none");
    projects.classList.remove("d-none");
    container.classList.remove("d-none");
  }
</script>
