<div class="container">
  <div class="infos">
    <div class="" style="margin-top:30px">
      <%= search_form_for @q do |f| %>
        <%= f.label :name_cont %>
        <%= f.search_field :name_cont %>
        <%= f.submit 'Search a project', class: "btn btn-primary" %>
      <% end %>
      <%= sort_link(@q, :name) do %>
        <strong>Sort by Name</strong>
      <% end %>
    </div>
    <% @projects.each do |project| %>
      <div class="card-trip">
        <%= image_tag project.image[:medium].url %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to project.name, project_path(project) %></h2>
            <div class="">
            <h2 class="card-trip-pricing">Goal: <%= project.purpose %>€</h2>
            Sum of donations: <%= project.sum %>€
          </div>
            <div class="state card-trip-state">
              <% if project.aasm_state == 'success' %>
                <span class="<%= project.state_badge %>"><%= project.aasm_state %></span>
              <% elsif project.aasm_state == 'failure' %>
                <span class="<%= project.state_badge %>"><%= project.aasm_state %></span>
              <% else %>
                <span class="<%= project.state_badge %>"><%= project.aasm_state %></span>
              <% end %>
            </div>
          </div>
          <div class="progress-bar-project">
            <div class="progress-bar-back">
              <div class="progress-bar-front"style="width: <%= project.percentage.to_i %>%;"><%= project.percentage %>%
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
